<mat-toolbar>
  <span>My Todo App</span>
</mat-toolbar>
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<section>
  <mat-grid-list cols="2" rowHeight="2: 2">
    <!-- List View -->
    <mat-grid-tile>
      <mat-tab-group>
    
        <mat-tab label="All Todo List"> 
          <mat-selection-list #shoes>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              {{shoe}}
            </mat-list-option>
          </mat-selection-list>
          <div>
            <span matBadge="{{shoes.selectedOptions.selected.length}}" matBadgeOverlap="false">Text with a badge</span>
          </div>
  
        </mat-tab>
        <mat-tab label="Inprocess">  </mat-tab>
        <mat-tab label="Completed"> Content 3 </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
    <!-- Content -->
    <mat-grid-tile>
  
      <form class="example-form">
        <h3><b>Add Todo</b></h3>
        <!-- <h3>Edit</h3> -->
        <mat-form-field class="example-full-width">
          <mat-label>todo name</mat-label>
          <input matInput placeholder="Ex. do home work" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
  
        <button  class="example-full-width" mat-raised-button color="primary">Add</button>
        <!-- <button class="example-full-width" mat-raised-button color="accent">Edit</button> -->
  
      </form>
  
    </mat-grid-tile>
  
  </mat-grid-list> 
</section>

<mat-divider></mat-divider>

<div style="height: 24px"></div>

<section class="content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Khoi Huynh</mat-card-title>
      <mat-card-subtitle>huynhlutrongkhoi@gmail.com</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/img.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        My name is Khoi,<br>
        I'm from Vietnam, and I'm a frontent developer <br>
        Nice to meet you, hope can work with you soon day !
      </p>
      <b>Below is information:</b>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Facebook</button>
      <button mat-button>Linkin</button>
    </mat-card-actions>
  </mat-card>
</section>

<div style="height: 200px"></div>