<mat-toolbar>
  <span>My Todo App</span>
</mat-toolbar>
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

<section class="center-content" style="margin: 20px 0;">
  <mat-tab-group>
    <mat-tab label="Control">
      <div style="width: 100%; padding: 10px;">
        <mat-slide-toggle>Show control!</mat-slide-toggle>
      </div>
    </mat-tab>
    <mat-tab label="Pannel">
      <div style="width: 100%; padding: 10px;">
        <div cdkDropListGroup>
          <div class="example-container">
            <h2>To do</h2>
            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>
          </div>

          <div class="example-container">
            <h2>Done</h2>
        
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
          </div>
        </div>
        <!-- control form -->
        <form  width="50%" class="example-form">
          <h3><b>Add Todo</b></h3>
          <!-- <h3>Edit</h3> -->
          <mat-form-field class="example-full-width">
            <mat-label>todo name</mat-label>
            <input matInput placeholder="Ex. do home work" value="">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>description</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
    
          <button  class="example-full-width" mat-raised-button color="primary">Add</button>
          <!-- <button class="example-full-width" mat-raised-button color="accent">Edit</button> -->
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>

    
  

</section>

<mat-divider></mat-divider>

<div style="height: 24px"></div>

<section class="content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Khoi Huynh</mat-card-title>
      <mat-card-subtitle>huynhlutrongkhoi@gmail.com</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/img.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        My name is Khoi,<br>
        I'm from Vietnam, and I'm a frontent developer <br>
        Nice to meet you, hope can work with you soon day !
      </p>
      <b>Below is information:</b>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Facebook</button>
      <button mat-button>Linkin</button>
    </mat-card-actions>
  </mat-card>
</section>

<div style="height: 200px"></div>